@model IEnumerable<PeliculasWeb.Models.Pelicula>
@{
    ViewData["Title"] = "Filtrar películas en categoría";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Nueva fila con margen top de 3*@
<div class="row mt-3">
    @if (Model.Count() > 0)
    {
        @foreach (var item in Model)
        {
            //Cada pelicula ocupa 4 columnas
            <div class="col-sm-4">
                <div class="card" style="width:18rem;">
                    @*Muestra imagen de pelicula de BD*@
                    @if (item.RutaImagen != null)
                    {
                        var base64 = Convert.ToBase64String(item.RutaImagen);
                        var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        <img src="@imgsrc" class="card-img-top" />
                    }

                    <div class="card-body">
                        <h5 class="card-title">@item.Nombre</h5>
                        <p class="card-text">Duración: @item.Duracion</p>
                        <p class="card-text">Clasificación: @item.Clasificacion</p>
                        <p class="card-text">Fecha de Creación: @item.FechaCreacion</p>
                        <p class="card-text">Descripción: @item.Descripcion</p>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>No hay películas para mostrar</p>
    }
</div>